<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Profile</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Edit User Profile</h1>
    <br />
    <form action="#" th:action="@{/profile/save}" th:object="${users}"
          method="post">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Name: </label>
                <div class="col-md-4">
                    <input type="text" id="id" th:field="*{name}" readonly="readonly" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">User Name: </label>
                <div class="col-md-4">
                    <input type="text" th:field="*{username}" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-md-4">
                    <textarea th:field="*{password}" class="form-control" required></textarea>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    function cancelForm(){
        window.location="[[@{/shoppingCart/list}]]"
    }
</script>
</html>