<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Searched Recipe List</h1>
    <a href="/new">Create New Recipe</a>
    <br/><br/>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
<!--            <th>Actions</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe : ${listRecipes}">
            <td th:text="${recipe.id}"></td>
            <td th:text="${recipe.title}"></td>
            <td th:text="${recipe.steps}"></td>
            <td th:text="${recipe.date}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/users">Return to Profile</a>
</div>
</body>
</html>