<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="ISO-8859-1">
  <title>List Users</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
  <div>
    <form th:action="@{/logout}" method="post">
      <h1>
        Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
      </h1>
      <h3><a th:href="@{/reset_password}">Reset password</a></h3>
      <br />
      <input type="submit" value="Sign Out" />
    </form>
  </div>
</div>
<div class="container text-center">
  <a href="/list">All Recipes</a>
  <br />
  <a href="/new">Add a new recipe</a>
  <br />
  <a href="/planer">View Meal Planner</a>
  <br />
  <a href="/profile">View my Profile</a>
  <br />
  <a href="/events">View Events</a>
  <br />
  <a href="/shoppingCart/items">Shopping List</a>
  <br />
  <form th:action="@{/search}"
        method="get">
    <div class="m-3">
      <div class="form-group row">
        <label for="keyword" class="col-4 col-form-label">Recipe Title: </label>
        <div class="col-md-4">
          <input type="text" id="keyword" name="keyword"  class="form-control" required />
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>
</div>
</body>
</html>